.footer{
    background-color: black;
    padding: 20px;
    // & i{
    //     color: white;
    //     padding-right: 15px;
    // }
    &__info{
        padding-bottom: 10px;
    }
    
}
.adjust1{
    padding-right: 15px;
}
.adjust2{
    padding-right: 5px;
}

.logo{
    color: white;
    padding-bottom: 10px;
    font-size: 1.2em;
}

