 .container{
    display: grid;
     grid-template-areas: 
     "header"
     "section"
     "main"
     "footer";
     gap: 10px;
    //  width: 95%;
    grid-template-columns: 1fr;
     margin: auto;
 }