main{ 
    background-color: $gray;
}
.card{
    // display: flex;
    // justify-content: center;
    margin-left: 20px;
    padding-bottom: 30px;
    // a{
    //     text-decoration: none;
    // }
    &__body{
        width: 95%;
        height: auto;
        // border: 2px solid black;
        border-radius: 25px;
        background-color: white;
        margin-top: 20px;

    }
    &__image{
         width: 100%;
         height: 185px;
         border-top-left-radius: 25px;
         border-top-right-radius: 25px;
         position: relative;
        
     }
    img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        object-fit: cover;
    }
   
     
    &__info{
        font-size: 0.95em;
        padding : 10px;
        color: black;
    }
}
.element{
       
    color: green;
    background-color: $tertiarycolor;
    width: 80px;
    height: 35px;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    
    top: 15px;
    right: 15px;
    }
