.header__button{
    @include btn ;
    &:hover{
        box-shadow: 5px 5px 10px darkgray, -5px 5px 10px #cfcfcf;
        // background-color: $gradient2;
        &--color{
            background-color: $gradient2;
        }
    }
   
}
.op-btn{
    @include op-btn ;
    &:hover{
        box-shadow: 5px 5px 10px darkgrey, -5px 5px 10px darkgrey;
        background-color: #f6f6f6; 
        & .operation__icon{
            color: $primarycolor;
        }
    }
    
}
.operation__icon{
     padding-right: 20px;
     padding-left: 20px;
     color: gray;
}
.op-number{
    background: $primarycolor;
    color: white;
    width: 20px;
    height: 20px;
    @include flexcenter ;
    border-radius: 20px;
    left: -35px;
    position: relative;
    top: 0px;
}
.op-text{
    font-weight: bold;
}
.order__btn{
    @include btn
}
