

@mixin flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin img-size{
    width: 400px;
    height: 300px;
    
}
@mixin btn{
    width: 220px;
    margin: 20px auto;
    padding: 15px;
    font-size: initial;
    text-align: center;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 3px 3px 10px lightgrey, -3px 3px 10px lightgrey;
    border: none; 
    display: block;
    &--color{
        // background: linear-gradient(0deg, $primarycolor, $secondarycolor);
        background: $gradient;
        color: white;
    }
}
@mixin op-btn{
    display: flex;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 25px;
    width: 300px;
    background-color: $gray3 ;
    box-shadow: 3px 3px 10px lightgrey, -3px 3px 10px lightgrey;

}