

@mixin flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin img-size{
    width: 400px;
    height: 300px;
    
}
@mixin btn{
    width: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-left: auto;
    margin-right: auto;  
    &--color{
        background: linear-gradient(0deg, $primarycolor, $secondarycolor);
        color: white;
    }
}